* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    background-color: #EEF9BF;
    text-align: center;
}

.jogo {
    margin-top: 47px;
    margin: 0 115px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    height: 146px;
    width: 118px;
    margin: 34px;
    position: relative;
    font-size: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    margin-top: 16px;
}

/* TENTATIVA DE FAZER A CARTA VIRAR */

.face {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    border: 1px solid #6d8173;
    border-radius: 5px;
    background-color: #A7E9AF;
    /* compatibildiade iOS */
    -webkit-backface-visibility: hidden;

}

.virada {
    transform: rotateY(180deg);
}

.encontrada {
    border-color: green;
    border: 3px solid green;
    filter: drop-shadow(1px 1px 2px rgb(100, 125, 100));
    -webkit-filter: drop-shadow(1px 1px 2px rgb(100, 125, 100));
}

/* bonus */
.tempo, .jogadas {
    display: flex;
    justify-content: right;
    font-size: 16px;
    margin-right: 10px;
}

@media (max-width: 614px) {
    body {
        font-size: 36px;
    }

    .jogo {
        margin: 0;
    }
}